@import url("global.css");

/* Alinhamentos específicos */
.content-area th:nth-child(1),
.content-area td:nth-child(1) {
  width: 80px;
  text-align: center;
}

/* Ajuste específico para a coluna Nome na tabela de Tutores */
#view-tutores th:nth-child(1),
#view-tutores td:nth-child(1) {
  width: 250px;
  text-align: left;
}

.content-area th:nth-child(5),
.content-area td:nth-child(5) {
  text-align: center;
}

.btn {
  width: 140px;
}

#modalAgendamento .btn-toolbar {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
